{% extends 'base.html' %}

{% from 'auth/_macros.html' import show_success %}
{% from 'account/_macros.html' import submenu %}

{% block title %}Account - {{ name }}{% endblock %}

{% block content %}
    <div class="row">
        
            <div class="col-sm-6">
                {{ show_success() }}
                {{ submenu(account_id) }}
				<div class="tab-content">
                    <div class="tab-pane active">
                        <div class="panel-body">
							<table class="table table-striped users-list">
							<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Actions</th>
							</tr>
							</thead>
							<tbody>
							{% for user in users %}
							<tr class="{{ user.id }}">
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td>{% if(user!=account_owner) %}<a href="{{url_for('auth.remove_user_from_account', aid=account_id,uid=user.id)}}" class="text-danger action-btn">Remove</a>{% endif %}</td>
							</tr>
							{% endfor %}
							</tbody>
							</table>
						<hr>
						<form  method="POST" action="{{ url_for('auth.edit_account_users', aid=account_id) }}">
							<div class="spacer find-user">
								<h4>Add new user</h4>
								<hr>
								<div class="user-search">
								
								<div class="form-group {{ 'has-error' if form.email.errors }} row">
									<div class="col-md-10">
										{{ form.email(class="form-control ",placeholder=form.email.label.text)}}
											{% if form.email.errors %}
												<div class="help-block">
													{% for error in form.email.errors %}
														{{ form.email.label(class="control-label", text=error) }}
													{% endfor %}
												</div>
											{% endif %}
									</div>
									<div class="col-md-2"><button class="btn btn-info" type="submit">Find</button></div>
								</div>

									
								
								{{ form.csrf_token }}
								</div>
							</div>
						</form>
					</div>
				</div>

            </div>
      
    </div>
{% endblock %}
