{% extends 'base.html' %}

{% from 'auth/_macros.html' import show_success %}
{% from 'account/_macros.html' import submenu %}

{% block title %}Account - {{ form.name.data }}{% endblock %}

{% block content %}
    <div class="row">
        <form class="profile-form" method="POST" action="{{ url_for('auth.edit_account', aid=account_id) }}">
            {{ form.csrf_token }}

            <div class="col-sm-6">
                {{ show_success() }}
                {{ submenu(account_id) }}
					<div class="tab-content">
						<div class="tab-pane active">
							<div class="panel-body">
								{{ render_fields_group(obj=form.name, placeholder=form.name.label.text, autofocus="", required="") }}
								{{ render_fields_group(obj=form.up_to_date_message, placeholder=form.up_to_date_message.label.text) }}
								{{ render_fields_group(obj=form.unknown_answer_message, placeholder=form.unknown_answer_message.label.text) }}
								{{ render_fields_group(obj=form.skip_poll_message, placeholder=form.skip_poll_message.label.text) }}
								{{ render_fields_group(obj=form.timezone, placeholder=form.timezone.label.text) }}
								<hr>
								<button class="btn btn-success" type="submit">Save</button>
								<button class="btn btn-default" type="reset">Cancel</button>
							</div>
						</div>
					</div>
				</div>
            </div>
        </form>
    </div>
{% endblock %}
