{% extends 'base.html' %}

{% from 'auth/_macros.html' import show_success %}
{% from 'account/_macros.html' import submenu %}

{% block title %}Account - {{ name }}{% endblock %}

{% block content %}
    <div class="row">
        <form class="profile-form" method="POST" action="{{ url_for('auth.register_in_account', aid=account_id) }}">
            <div class="col-sm-6">
                {{ show_success() }}
                {{ submenu(account_id) }}
				<div class="tab-content">
				<div class="tab-pane active">
					<div class="panel-body">
						<table class="table table-striped users-list">
						 <thead>
						  <tr>
							 <th>Name</th>
							 <th>Email</th>
							 <th>Actions</th>
						  </tr>
						 </thead>
						 <tbody>
						{% for user in users %}
						  <tr class="{{ user.id }}">
							 <td>{{ user.name }}</td>
							 <td>{{ user.email }}</td>
							 <td>{% if(user.action) %}<a href="{{url_for('auth.remove_user_from_account', aid=account_id,uid=user.id)}}" class="text-danger action-btn">Remove</a>{% endif %}</td>
						  </tr>
						 {% endfor %}
						 </tbody>
						</table>
						<hr>
						<div class="spacer create-new-user">
							<h4>Create user</h4>
							<hr>
							{{ form.csrf_token }}
							{{ render_fields_group(obj=form.name, label_text="",placeholder=form.name.label.text) }}
							{{ render_fields_group(obj=form.email,label_text="", placeholder=form.email.label.text) }}
							{{ render_fields_group(obj=form.password,label_text="", placeholder=form.password.label.text) }}
							<center><button class="btn btn-info" type="submit">Yes</button></center>
						</div>
					
					</div>
				</div>

            </div>
        </form>
    </div>
{% endblock %}
