<div class="modal fade" id="backendErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">A backend error occured, please reload the page</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <a href="javascript:location.reload()" class="btn btn-primary">Reload</a>
            </div>
        </div>
    </div>
</div>