{% extends 'auth/base.html' %}

{% block title %}Forgot Password | newsbot{% endblock %}

{% block content %}
<div class="well">
    <p class="brand">Forgot your password?</p>
    <form method="POST" action="{{ url_for('auth.reset') }}">
        {{ form.csrf_token }}
        <div class="form-group {{ 'has-error' if form.email.errors }}">
            {% for error in form.email.errors %}
                {{ form.email.label(class="control-label", text=error) }}
            {% endfor %}
            {{ form.email(size=20, class="form-control", placeholder=form.email.label.text, required="", autofocus="") }}
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
