{% extends 'auth/base.html' %}

{% block title %}Reset Password | newsbot{% endblock %}

{% block content %}
<div class="well">
    <p class="brand">Forgot your password?</p>
    <p> New password for {{ email }} account. </p>
    <form method="POST" action="{{ url_for('auth.reset_token', token=token) }}">
        {{ form.csrf_token }}
        <div class="form-group {{ 'has-error' if form.password.errors }}">
            {% for error in form.password.errors %}
                {{ form.password.label(class="control-label", text=error) }}
            {% endfor %}
            {{ form.password(size=20, class="form-control", placeholder=form.password.label.text, required="", autofocus="") }}
        </div>
        <div class="form-group {{ 'has-error' if form.password_confirm.errors }}">
            {% for error in form.password_confirm.errors %}
                {{ form.password_confirm.label(class="control-label", text=error) }}
            {% endfor %}
            {{ form.password_confirm(size=20, class="form-control", placeholder=form.password_confirm.label.text, required="") }}
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
